@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff') format('woff'),
    url('../fonts/MullerRegular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-default: #FF9900;
  --color-focus-hover: #FFB84D;
  --color-light-active: #E1670E;
  --color-green: #97EE3F;
  --color-white: #FFFFFF;
  --color-white-gray: #CACACA;
  --color-white-gray-transparent: rgba(0, 0, 0, 0.5);
  --color-medium-grey: #666666;
  --color-grey: #414141;
  --color-black: #000000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  font-size: 16px;
  background-color: var(--color-white);
  line-height: 32px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  font-family: 'Montserrat';
  max-width: 1820px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 25px;
}

.h1, h2, h3, h4, h5 {
  margin: 0;
}

.btn {
  line-height: 28px;
  font-size: 23.5px;
  border-radius: 16px;
  font-weight: 700;
  background-color: var(--color-default);
  padding: 19px 38px;
  color: var(--color-white);
  border: none;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: var(--color-focus-hover);
  outline: none;
}

.btn:active {
  cursor: pointer;
  background-color: var(--color-light-active);
}

h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

/*header*/
.header {
  background-color: var(--color-white);
  border-radius: 0px 0px 32px 32px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 50px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__icon:focus {
  outline-color: var(--color-default);
  outline-offset: 4px;
}

.header__right-column {
  display: flex;
}

.header-nav {
  display: flex;
  margin-right: 260px;
  align-items: center;
}

.header-nav__list {
  display: flex;
  gap: 85px;
}

.header-nav__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header-nav__link {
  outline: 2px solid transparent;
  color: var(--color-black);
}

.header-nav__link:hover {
  box-shadow: 0 2px 0 var(--color-default);
}

.header-nav__link:focus {
  outline-color: var(--color-default);
}

.header-nav__link:active {
  color: var(--color-light-active);
  box-shadow: 0 2px 0 var(--color-light-active);
  outline: none;
}

.header-search {
  width: 24px;
  height: 24px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: 2px solid transparent;
}

.header-search:hover {
  background-image: url("../img/status=hover.svg")
}

.header-search:focus {
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline-color: var(--color-default);
}

/* main */
/* section-order */
.section-order {
  margin-bottom: 50px;
}

.order {
  position: relative;
  padding: 100px 80px 30px;
}

.order__img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  object-fit: cover;
  border-radius: 32px;
}

.order__container-inside {
  width: 837px;
}

.order__header {
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-white);
  margin-bottom: 24px;
}

.order__text {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
  margin-bottom: 90px;
}

.order__btn {
  padding: 25px 37px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 55px;
}

.order__btn:focus,
.order__btn:hover,
.order__btn:active {
  text-shadow: none;
}

.order__slider {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.slider__element {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--color-white-gray)
}

.slider__element_active {
  background-color: var(--color-white);
}


/* section-about-us */

.section-about-us {
  margin-bottom: 100px;
}

.about-us__header {
  margin-bottom: 20px;
}

.about-us__text {
  max-width: 1235px;
  margin: 0;
  margin-bottom: 50px;
}

.about-us__grid-container {
  display: flex;
  gap: 32px;
}

.about-us__left-column {
  flex-shrink: 0;
}

.illustrated-info {
  position: relative;
  width: 868px;
  height: 622px;
}

.illustrated-info__img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  object-fit: cover;
  border-radius: 32px;
}

.illustrated-info__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 196px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  padding: 50px;
}

.illustrated-info__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
  margin: 0;
  max-width: 433px;
}

.illustrated-info__btn {
  border: 3px solid var(--color-default);
  border-radius: 16px;
  font-size: 16px;
  line-height: 20px;
  padding: 17px 35px;
  background: transparent;
}

.illustrated-info__btn:hover,
.illustrated-info__btn:focus {
  cursor: pointer;
  background-color: var(--color-default);
}

.illustrated-info__btn:active {
  cursor: pointer;
  background-color: var(--color-light-active);
  border-color: var(--color-light-active)
}

.info-card-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-card {
  display: flex;
  justify-content: center;
  gap: 50px;
  border: 1px solid var(--color-white-gray);
  border-radius: 32px;
  padding: 65px 60px;
}

.info-card-text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 452px;
}

.info-card__text {
  margin: 0;
}


/* section-how-we-work */
.section-how-we-work {
  margin-bottom: 112px;
}

.how-we-work__main-header {
  margin-bottom: 50px;
}

.how-we-work__steps {
  display: flex;
  gap: 85px;
  margin-bottom: 45px;
}

.how-we-work__step {
  font-size: 18px;
  line-height: 22px;
}

.how-we-work__link {
  outline: 2px solid transparent;
  color: var(--color-black);
}

.how-we-work__link_active {
  color: var(--color-light-active)
}

.how-we-work__link:hover,
.how-we-work__link:focus,
.how-we-work__link:active {
  cursor: pointer;
}

.how-we-work__link:hover {
  color: var(--color-default)
}

.how-we-work__link:focus {
  outline-color: var(--color-default);
}

.how-we-work__link:active {
  color: var(--color-light-active);
  border-color: transparent;
}

.how-we-work__main-container {
  display: flex;
  gap: 142px;
  align-items: flex-end;
}

.how-we-work__header {
  line-height: 32px;
  margin-bottom: 8px;
}

.how-we-work__text {
  max-width: 758px;
  margin-top: 0;
  margin-bottom: 18px;
}

.how-we-work__button-container {
  display: flex;
  gap: 32px;
}

.how-we-work__btn-more {
  font-size: 16px;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.how-we-work__btn-contract {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  border-radius: 16px;
  background: transparent;
}

.how-we-work__btn-contract:hover,
.how-we-work__btn-contract:focus {
  color: var(--color-white);
  background-color: var(--color-medium-grey);
  border-color: var(--color-medium-grey);
}

.how-we-work__btn-contract:active {
  color: var(--color-white);
  background-color: var(--color-black);
  border-color: var(--color-black);
}

.how-we-work__img {
  width: 870px;
  height: 460px;
  border-radius: 32px;
}

/* section-questions */
.questions {
  margin-bottom: 100px;
}

.questions__main-header {
  margin-bottom: 32px;
  width: 1770px;
}

.questions__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid var(--color-white-gray);
}

.questions__item:first-child {
  border-top: 1px solid var(--color-white-gray);
}

.questions__item:hover,
.questions__item:active {
  cursor: pointer;
  color: var(--color-default);
  border-bottom-color: var(--color-default);
}

.questions__header {
  line-height: 32px;
}

.questions__btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-size: 31px 31px;
  background-position: center;
  background-color: var(--color-white-gray);
}

.questions__item:hover .questions__btn,
.questions__item:active .questions__btn {
  cursor: pointer;
  background-image: url("../img/plus-white.png");
  background-color: var(--color-default);
}


/* footer */
.footer {
  background-color: var(--color-black)
}

.footer-container {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__communication {
  width: 252px;
  margin-right: 349px;
  flex-shrink: 0;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__logo:focus {
  outline-color: var(--color-default);
  outline-offset: 4px;
  outline-style: solid;
}

.footer-nav__list {
  margin-bottom: 90px;
}

.footer-nav__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}

.footer-nav__link {
  color: var(--color-white-gray);
}

.footer-nav__link:hover,
.footer-nav__link:focus,
.footer-nav__link:active {
  cursor: pointer;
}

.footer-nav__link:hover {
  color: var(--color-default)
}

.footer-nav__link:focus { 
  outline: 1px solid var(--color-default);
  outline-offset: 3px;
  color: var(--color-white-gray);
}

.footer-nav__link:active {
  color: var(--color-light-active);
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.social-media__icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px 60px;
  outline: 2px solid transparent;
}

.social-media__icon:focus {
  outline-color: var(--color-default);
}

.social-media__icon_ok {
  background-image: url("../img/social-media-ok.svg");
}

.social-media__icon_ok:hover {
  background-image: url("../img/ok-hover.svg")
}

.social-media__icon_ok:active {
  outline: 2px solid transparent;
  background-image: url("../img/ok-active.svg")
}

.social-media__icon_vk {
  background-image: url("../img/social-media-vk.svg");
}

.social-media__icon_vk:hover {
  background-image: url("../img/vk-hover.svg");
}

.social-media__icon_vk:active {
  outline: 2px solid transparent;
  background-image: url("../img/vk-active.svg");
}

.footer-form {
  display: flex;
  flex-direction: column;
  width: 570px;
  margin-right: 236px;
}

.footer-form__header {
  color: var(--color-white-gray);
  margin-bottom: 25px;
}

.footer-form__input-field {
  display: block;
  resize: none;
  width: 570px;
  margin-bottom: 25px;
  padding: 14px 24px;
  line-height: 32px;
  border-radius: 16px;
  border: 0;
  background-color: var(--color-grey);
  color: var(--color-white-gray);
}

.footer-form__input-field_textarea {
  height: 150px;
  margin-bottom: 32px;
}

.footer-form__input-field::placeholder {
  color: var(--color-white-gray);
}

.footer-form__input-field:hover,
.footer-form__input-field:focus,
.footer-form__input-field:active {
  cursor: pointer;
  background-color: var(--color-medium-grey);
  color: var(--color-white);
}

.footer-form__input-field:hover::placeholder,
.footer-form__input-field:focus::placeholder,
.footer-form__input-field:active::placeholder {
  color: var(--color-white);
}

.footer-form__button-container {
  display: flex;
  align-items: center;
}

.footer-form__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 19px 52px;
  margin-right: 22px;
}

.footer-form__checkbox {
  width: 14px;
  height: 14px;
}

.footer-form__custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.footer-form__custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.footer-form__custom-checkbox+label::before {
  content: '';
  display: inline-block;
  margin-bottom: 1px;
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--color-white-gray);
  border-radius: 2px;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-form__custom-checkbox:checked+label::before {
  background-image: url("../img/check.svg")
}

.footer-form__label-agree {
  color: var(--color-white-gray);
}

.footer-form__custom-checkbox+label:hover::before,
.footer-form__custom-checkbox+label:focus::before,
.footer-form__custom-checkbox+label:active::before {
  border: 1px solid var(--color-default);
}

.footer__text {
  width: 363px;
  margin: 0;
  color: var(--color-white-gray);
}
